html {
    scroll-behavior: smooth;
}

.noAlarms {
    font-size: 24px;
    font-weight: bold;
}
.alarm {
    border-style: solid; 
    border-color: lightgray; 
    background: white;
    border-width: 2px; 
    padding: 5px; 
    margin: 10px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}
#dispAlarm {
    border-style: solid; 
    border-color: lightgray; 
    background: white;
    border-width: 2px; 
    padding: 5px; 
    margin: 10px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}
.alarm:hover {
    cursor: pointer;
    border-color: rgb(0, 153, 255);
}
.header {
    font-weight: bold;
}
h1 {
    text-align: center;
}