{% extends "base.html" %}
{% block title %} Password Reset {% endblock %}
{% block content %}
<h1>Password Reset</h1>
<br><br>
<p style="text-align: center;">
    Forgot your password? Don't worry we've got you covered. Enter your username/email and we will send you a password reset link.
</p>
<form class="resetForm" action="/passwordReset" method="POST" style="text-align: center;">
    <label>Email:</label> <br />
    <input type="text" name="name" /><br /><br />
    <input type="submit" value="Reset Password" />
</form>

{% endblock %}